.body{
    margin-left: 100px;
    align-items: left;
}



.rectangle {
    border: 1px solid #FF0000;
    position: absolute;
}

.can{
    align-self: left;
}

.position{
    align-items: baseline;
}

.intro{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 50px;
}

.my-button{
    width: 200px;
    padding: 1.5rem;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    flex-basis: 40%;
    margin:5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-left: 50px;
    
}

.my-button:hover{
    padding: 1.5rem;
    background-color: blue;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 10px;
    flex-basis: 40%;
    margin:5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-style: italic;
    color: white;
    margin-left: 50px;
}

.heading{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-left: 55px;
}

::-webkit-scrollbar {
    width: 25px;
    height: 10px;
   }
   ::-webkit-scrollbar-thumb {
    background: transparent;
    border: 1px solid black;
    border-radius: 30px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: blue;
   }
   ::-webkit-scrollbar-track{
    background: transparent;
    border-radius: 0px;
   }

