.body{
    margin-left: 100px;
    align-items: left;
}

#canvas {
    width:2000px;
    height:2000px;
    border: 10px solid transparent;
}
.rectangle {
    border: 1px solid #FF0000;
    position: absolute;
}

.can{
    align-self: left;
}

.position{
    align-items: baseline;
}

.intro{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.my-button{

    padding: 2rem;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    flex-basis: 40%;
    margin:5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    
}

